@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply hidden h-10 w-10 cursor-pointer rounded-full bg-gray-200 p-2
    text-gray-700 hover:bg-gray-300 xl:inline-flex;
  }
}
